body, html {
    margin: 0;
    height: 100%;
    position: relative;
}
body {
    overflow: auto;
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#controls * {
	margin: 5px;
	display:inline-block;
	
}

#showTempo { 
	display: inline-block;
	width: 45px; 
}

#showSwing { 
	display: inline-block;
	width: 40px; 
}

* {
    -webkit-user-select: none;
}



input#tempo {
	height: 20px; width: 100px
}

#container {
	width: 320px;
	height: 320px;
}

#grid div {
	transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out; 
	-o-transition: background-color .2s ease-in-out;
	cursor: pointer;
}